{{> menu}}
<section class="section">
    <div class="d-flex justify-content-center" style="min-height: 90vh;">
  <div class="form-container">
    {{> add-location}}
    {{> list-locations}}
  </div>
    </div>
</section>