{{> nav active="login"}}
<div class="d-flex justify-content-center align-items-center" style="min-height: 90vh;">
  <div class="form-container">
<form method="post" action="/authenticate">
  <div class="mb-3">
    <label for="loginEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
  </div>
  <div class="mb-3">
    <label for="loginPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  {{> submit-button}}
</form>
  </div>
</div>