{{> welcome-menu active="signup"}}
<div class="d-flex justify-content-center align-items-center" style="min-height: 90vh;">
  <div class="form-container">
    <h1>Sign Up</h1>
    <form method="post" action="/register">
      <div class="row">
        <div class="col">
          <input type="text" id="firstName" class="form-control" placeholder="First name" aria-label="First name" name="firstName"/>
        </div>
        <div class="col">
          <input type="text" id="lastName" class="form-control" placeholder="Last name" aria-label="Last name" name="lastName"/>
        </div>
      </div>
      <div class="mb-3">
        <label for="loginEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" />
      </div>
      <div class="mb-3">
        <label for="loginPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="loginPassword" name="password" />
      </div>
        {{> submit-button }}
    </form>
  </div>
</div>