<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <h2>Add a location</h2>
      <form action="/dashboard/addlocation" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <div class="mb-3">
            <input type="text" id="name" class="form-control" placeholder="Location Name"
              aria-label="name" name="name" />
          </div>
          <div class="row">
            <div class="mb-3">
              <select class="form-select" name="categoryId" aria-label="Default select example">
                <option selected>Category</option>
                {{#each categories}}
                  <option value="{{_id}}">{{categoryName}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-md-6">
              <input type="text" id="latitude" class="form-control" placeholder="Latitude" aria-label="latitude"
                name="latitude" />
            </div>
            <div class="mb-3 col-md-6">
              <input type="text" id="longitude" class="form-control" placeholder="Longitude" aria-label="longitude"
                name="longitude" />
            </div>
          </div>
          <div class="mb-3">
            <textarea id="locationDescription" name="locationDescription" class="form-control"
              placeholder="Location Description" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <label for="locationImage" class="form-label">Upload Location Image</label>
            <input type="file" id="locationImage" name="locationImage" class="form-control file-input" accept="image/png, image/jpeg">
            <span class="file-name"></span>
          </div>
          <div class="d-grid">
            {{> submit-button}}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const fileInput = document.querySelector(".file-input");
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector(".file-name");
      fileName.textContent = fileInput.files[0].name;
    }
  };
</script>
